{% extends "base/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Information {% endblock title %}</title>
    <link rel="stylesheet" href="css.css">

</head>
<body>
    {% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <center>
            <p>
                La National Football League (NFL) es la liga profesional de fútbol americano en los Estados Unidos. Fundada en 1920, la NFL es una de las ligas deportivas más populares y competitivas del mundo.
            </p>
            <p>
                La liga está compuesta por 32 equipos divididos en dos conferencias: la Conferencia Nacional (NFC) y la Conferencia Americana (AFC). Cada conferencia se divide a su vez en cuatro divisiones, y los equipos compiten durante la temporada regular para ganar un lugar en los playoffs y, eventualmente, llegar al Super Bowl, el partido por el campeonato de la NFL.
            </p>
            <p>
                Los aficionados a la NFL disfrutan de emocionantes partidos, jugadas espectaculares y una increíble atmósfera en los estadios. Además, la liga cuenta con jugadores destacados y equipos legendarios que han dejado huella en la historia del deporte.
            </p>
            <p>
                Explora nuestro sitio para conocer más sobre los equipos, los jugadores, los estadios y todo lo relacionado con la NFL. ¡Disfruta del apasionante mundo del fútbol americano profesional!
            </p>
        </center>
    {% endblock content %}
</body>
</html>