{% extends 'base/base.html' %}

{% block title %} Relaciones{% endblock title %}

{% block content %}

<h1> Relaciones </h1>
<table class="table">
   <thead>
      <tr>
         <th>Ciudad</th>
         <th>Estadio</th>
         <th>Equipo</th>
      </tr>
   </thead>
   <tbody>
      {% if relationships %}
         {% for relationship in relationships %}
            <tr>
               <td>{{ relationship.city }}</td>
               <td>{{ relationship.stadium }}</td>
               <td>{{ relationship.team }}</td>
            </tr>
         {% endfor %}
      {% else %}
         <tr>
            <td colspan="3">No hay relaciones disponibles.</td>
         </tr>
      {% endif %}
   </tbody>
</table>


 
 

{% endblock content %}
